@using Microsoft.AspNet.Identity
@model GPOrder.Models.Group

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Créateur
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateUser.UserName)
        </dd>
        
        <dt>
            Administrateur
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerUser.UserName)
        </dd>

    </dl>
    
    <div class="form-group">
        @Html.LabelFor(model => model.ApplicationUsers, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.DisplayFor(model => model.ApplicationUsers, "ApplicationUsers")
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="share" type="button" value="Partager" class="btn btn-default" />
        </div>
    </div>
</div>

@Html.Partial("_SharePopUp")

<p>
    @{
        var isOwner = User.Identity.GetUserId() == Model.OwnerUser.Id;
    }
    @if (isOwner)
    {
        @Html.ActionLink("Edit", "Edit", new {id = Model.Id})
    }
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryui")

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")

    <script type="text/javascript" src="~/Scripts/Group.js"></script>

    <script type="text/javascript">
        var _group = new Group();
        $(document).ready(function () {
            _group.ReadyJS();
        });
    </script>
}
