@model GPOrder.Models.ApplicationUser

@using (Html.BeginCollectionItem(Html.ViewData.TemplateInfo.HtmlFieldPrefix))
{
    <div class="form-horizontal">
        @*<h4>OrderLine</h4>
            <hr />*@
        @Html.ActionLink("X", string.Empty, null, new { @class = "deleteLink" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(m => m.UserName)
                @Html.HiddenFor(m => m.UserName)
            </div>
        </div>
    </div>
}
