@using Microsoft.AspNet.Identity
@model GPOrder.Models.Shop

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Shop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Créateur
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateUser.UserName)
        </dd>

        <dt>
            Administrateur
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OwnerUser.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <div class="col-md-12">
        @foreach (var shopPicture in Model.ShopPictures)
        {
            var description = string.Format("{0} by {1} on {2}", shopPicture.Name, shopPicture.CreateUser.UserName, shopPicture.CreationDate);
            <div class="col-md-3">
                <img id="@shopPicture.Id" class="img-thumbnail" alt="@description" title="@description" src="data:@shopPicture.LinkedFile.ContentType;base64,@Convert.ToBase64String(shopPicture.LinkedFile.Content)" />
            </div>
        }
    </div>
</div>

<p>
    @{
        var userId = User.Identity.GetUserId();
        var isOwner = userId == Model.OwnerUser.Id;
    }
    @if (isOwner)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }
    @Html.ActionLink("Add a pic", "AddPictures", new { Model.Id })
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryui")

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
}
