@model GPOrder.Models.OrderLine

@using (Html.BeginCollectionItem("OrderLines"))
{
    <div class="col-md-10">
        @Html.HiddenFor(model => model.Id)
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(m => m.Description)
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        @Html.ActionLink("Delete", string.Empty, null, new { @class = "deleteLink" })
        <hr />
    </div>
}