@using System.Globalization
@using GPOrder.Resources
@model GPOrder.Models.Bill

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = string.Format(Resources.Bill_Title, Model.GroupedOrder.LimitDate, Model.GroupedOrder.LinkedShop.Name);
    var deliveryBoy = string.Format("deliveryBoy : {0}", Model.GroupedOrder.DeliveryBoy.UserName);
    ViewBag.Title = title;
}

<h2>@title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.CreateUser_Id)
    @Html.HiddenFor(m => m.GroupedOrder.Id)

    <div class="form-horizontal">
        <h3>@deliveryBoy</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-1 col-md-5">
                @Html.EditorFor(model => model.BillEvents, "BillEvents")
                <div class="col-md-2">
                    @Html.Label("Total")
                </div>
                <div class="col-md-2">
                    @{var totalAmount = Model.BillEvents.Sum(be => be.Amount);}
                    @Html.Label("total", totalAmount.ToString(CultureInfo.CurrentCulture), new { id = "total" })
                </div>
            </div>
            <div class="col-md-5">
                @Html.ActionLink("Add a pic", "AddPictures", new { Model.Id })
                @Html.EditorFor(model => model.BillPictures, "BillPictures")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Grouped Order", "Details", "GroupedOrders", new { Model.GroupedOrder.Id }, null)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryajax")

    <script type="text/javascript" src="~/Scripts/Bill.js"></script>
    <script type="text/javascript">
        var _bill = new Bill();
        $(document).ready(function () {
            _bill.ReadyJS();
        });
    </script>
}