@model GPOrder.Models.GroupedOrderEvent

@{
    ViewBag.Title = "AcceptDeliveryBoyRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AcceptDeliveryBoyRequest</h2>

@using (Html.BeginForm("AcceptDeliveryBoyRequest", "DeliveryBoy"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Accept the delivery boy request from @Model.CreateUser.UserName with limit date @Model.LimitDateTime</h4>
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.GroupedOrderId)
        @Html.HiddenFor(m => m.GroupedOrder.Id)
        @Html.HiddenFor(m => m.CreateUser.UserName)
        @Html.HiddenFor(m => m.LimitDateTime)

        <div class="form-group">
            @Html.LabelFor(model => model.GroupedOrder.CreateUser.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(m => m.GroupedOrder.CreateUser.UserName)
                @Html.DisplayFor(model => model.GroupedOrder.CreateUser.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GroupedOrder.CreateUser.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GroupedOrder.CreationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(m => m.GroupedOrder.CreationDate)
                @Html.DisplayFor(model => model.GroupedOrder.CreationDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GroupedOrder.CreationDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GroupedOrder.LinkedShop.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(m => m.GroupedOrder.LinkedShop.Name)
                @Html.HiddenFor(m => m.GroupedOrder.LinkedShop.Adress)
                @Html.DisplayFor(model => model.GroupedOrder.LinkedShop.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GroupedOrder.LinkedShop.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GroupedOrder.DeliveryBoy.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(m => m.GroupedOrder.DeliveryBoy.UserName)
                @Html.DisplayFor(model => model.GroupedOrder.DeliveryBoy.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GroupedOrder.DeliveryBoy.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LimitDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.JQueryUI().DatepickerFor(model => model.LimitDateTime, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LimitDateTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Valid" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "GroupedOrders")
</div>

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryajax")*@
    @Scripts.Render("~/bundles/jqueryui")

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
}