@model GPOrder.Models.Order

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.OrderDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.OrderDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.OrderDate)
                @Html.ValidationMessageFor(model => model.OrderDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.JQueryUI().DatepickerFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderLines, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.OrderLines, "OrderLines")
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryui")

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")

    <script type="text/javascript">
        function ApplyJQuery() {
            $.each($("#OrderLinesDiv input[data-jqui-type='autocomplete']"), function (index, value) {
                $(value).autocomplete({
                    minLength: 0,
                    source: function (request, response) {
                        var url = value.dataset.jquiAcompSource;

                        $.getJSON(url, { term: request.term }, function (data) {
                            response(data);
                        })
                    },
                    select: function (event, ui) {
                        $(event.target).parent().children('input[type=hidden]').val(ui.item.id);
                    },
                    change: function (event, ui) {
                        if (!ui.item) {
                            $(event.target).val('').parent().children('input[type=hidden]').val('');
                        }
                    }
                });
            });
        }
    </script>
}
