@using Microsoft.AspNet.Identity
@model GPOrder.Models.GroupedOrder

@{
    var currentUserId = User.Identity.GetUserId();
}
<tr>
    <td>
        @Html.DisplayFor(modelItem => modelItem.CreateUser.UserName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.CreationDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.LinkedShop.Name)
    </td>
    <td>
        @if (Model.DeliveryBoy != null)
        {
            if (Model.DeliveryBoy_Id == currentUserId)
            {
                @("You're the delivery boy.")
            }
            else
            {
                if (Model.Orders.Any(o => o.CreateUser_Id == currentUserId))
                {
                    @Html.ActionLink("Se proposer", "AskForDeliveryBoy", "DeliveryBoy", new { id = Model.Id }, null)
                    @(string.Format(" à la place de {0}", Model.DeliveryBoy.UserName))
                }
                else
                {
                    @Model.DeliveryBoy.UserName
                }
            }
        }
        else
        {
            @("This order hasn't any delivery boy. ")
            if (Model.Orders.Any(o => o.CreateUser_Id == currentUserId))
            {
                @Html.ActionLink("Je suis partant", "AskForDeliveryBoy", "DeliveryBoy", new {id = Model.Id}, null)
            }
        }
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.LimitDate)
    </td>
    <td>
        @Html.ActionLink("Details", "Details", new { id = Model.Id })
        @if (Model.Orders.All(o => o.CreateUser_Id != User.Identity.GetUserId()))
        {
            @Html.ActionLink("Join", "Create", "Orders", new { shopId = Model.LinkedShop.Id, groupedOrderId = Model.Id }, null)
        }
    </td>
</tr>
